body {
    background-color: rgb(206, 206, 206);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h2 {
    font-size: 44px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #a8a8a8;
    text-align: right;
}

h5 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
}

label {
    font-size: 14px;
}

input {
    border: solid 1px #d9d9d9;
}

button {
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    margin-top: 60px;
}

textarea {
    width: 80%;
    height: 100px;
    resize: none;
    border: solid 1px #d9d9d9;
}

select {
    border: solid 1px #d9d9d9;
}

form {
    width: 78%;
}

.wrapper {
    width: 580px;
    height: 800px;
    background: linear-gradient(145deg, #fafafa, #d9d9d9);
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.name-group {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.input-group {
    margin-top: 24px;
}

.checkbox-group {
    display: flex;
}

.checkbox {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 6px;
}

.checkbox input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.userInfo {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.userInfo h3 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #a8a8a8;
    text-align: right;
    margin-bottom: 60px;
}

.user-info {
    width: 60%;
    height: 60%;
}

strong {
    font-size: 12px;
    color: rgb(112, 112, 112);
    padding-right: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: right;
    color: rgb(83, 83, 83);
    text-transform: uppercase;
}

.notification{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: red;
}

